
@{
    ViewBag.Title = "Index";
}

<div data-role="page" id="loginhome">
    <div data-role="header" style="background-color:#FF8800;">
        <a href="#left-menu" class="ui-btn ui-corner-all ui-shadow ui-icon-bullets ui-btn-icon-left" data-transition="flow" style="color:white;background-color:#FF8800;border-style:none;box-shadow:none;">更多</a>
        <a href="#logout" class="ui-btn ui-corner-all ui-shadow ui-icon-user ui-btn-icon-left" data-transition="flow" style="color:white;background-color:#FF8800;border-style:none;box-shadow:none;">登出</a>
        <h1 style="color:white;"><font face="Georgia">KuasBike</font></h1>
    </div>

    <div data-role="main" class="ui-content">
        <div id="left-menu" data-role="panel" data-position="left" data-display="overlay">
            <ul data-role="listview" data-inset="true">
                <li><a href="#history" style="color:white;background-color:#FF8800;">會員歷程總覽</a></li>
                <li><a href="#description" style="color:white;background-color:#FF8800;">軟體使用說明</a></li>
                <li><a href="#feedback" style="color:white;background-color:#FF8800;">意見與回饋</a></li>
            </ul>
        </div>
        <div id="logindata"></div>
        <div id="loginP1_D1"></div>
        <div id="grid"></div>
    </div>
    <div data-role="footer" style="height: 130px;box-sizing: border-box;position: absolute;bottom: 0;width: 100%;background-color:#FF8800;">

        <div data-role="navbar">
            <ul>
                <li><a href="#predict" style="color:white;background-color:#FF8800;height: 100px;line-height:100px;font-size: 18px;">路程規劃預測</a></li>
                <li><a href="#Timerpage" style="color:white;background-color:#FF8800;height: 100px;line-height:100px;font-size: 18px;">計時計費功能</a></li>
            </ul>
            <div id="loginlocat"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        kendo.culture("zh-TW");
        //grid
        $.ajax({
            type: "POST",
            url: "/Library/Index",
            dataType: "json",
            success: function (response) {
                console.log("in index");
                $("#grid").kendoGrid({
                    dataSource: response,
                    height: 550,
                    pageable: {
                        refresh: true,
                        pageSizes: true,
                        buttonCount: 5
                    },
                    columns: [
                        {
                            field: "BookClassName",
                            title: "書籍類別",
                        }, {
                            field: "BookName",
                            title: "書籍名稱",
                            width: "250px"
                        }, {
                            field: "BoughtDate",
                            title: "購買日期",
                            format: "{0: yyyy-MM-dd}",
                            width: "200px"
                        }, {
                            field: "BookStatus",
                            title: "書籍狀態",
                            width: "100px"
                        }, {
                            field: "BookKeeper",
                            title: "保管人"
                        },
                        { command: { text: "刪除", click: showDeleteDetail }, title: " ", width: "130px" }]
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
        //search
        $("#search").click(function () {
            $.ajax({
                type: "POST",
                url: "/Library/Search",
                data: $("#BookForm").serialize(),
                dataType: "json",
                success: function (response) {
                    var grid = $('#grid').data("kendoGrid");
                    grid.setDataSource(response);
                },
                error: function (error) {
                    console.log(error);
                }
            });
            return false;
        });
        //下拉式選單(類別名稱)
        $.ajax({
            type: "POST",
            url: "/Library/ClassDropDown",
            data: $("#BookForm").serialize(),
            dataType: "json",
            success: function (response) {
                $("#classNameDrop,#insertClassDrop").kendoDropDownList({
                    dataSource: response,
                    dataTextField: "BookClassName",
                    dataValueField: "BookClassName",
                    optionLabel: "請選擇..."
                });
                $("#insertClassDrop").kendoDropDownList({
                    dataSource: response,
                    dataTextField: "BookClassName",
                    dataValueField: "BookClassId",
                    optionLabel: "請選擇..."
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
        //下拉式選單(狀態)
        $.ajax({
            type: "POST",
            url: "/Library/StatusDropDown",
            data: $("#BookForm").serialize(),
            dataType: "json",
            success: function (response) {
                $("#bookStatusDrop,#insertStatusDrop").kendoDropDownList({
                    dataSource: response,
                    dataTextField: "BookStatusName",
                    dataValueField: "BookStatus",
                    optionLabel: "請選擇..."
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
        //下拉式選單(借閱人)
        $.ajax({
            type: "POST",
            url: "/Library/KeeperDropDown",
            data: $("#BookForm").serialize(),
            dataType: "json",
            success: function (response) {
                $("#bookKeeperDrop").kendoDropDownList({
                    dataSource: response,
                    dataTextField: "BookKeeperName",
                    dataValueField: "BookKeeperName",
                    optionLabel: "請選擇..."
                });
            },
            error: function (error) {
                console.log(error);
            }
        });
        //清除表單按鈕
        $("#clear").click(function () {
            alert("表單清除");
            $("#BookForm")[0].reset();
        });
        //新增視窗
        $('#add_book').click(function () {
            $("#showInsert").kendoWindow({
                actions: ["Pin", "Maximize", "Minimize", "Close"],
                title: "新增書籍",
                resizable: false,
                width: "700px"
            }).data("kendoWindow").center().open();
            $("#InsertForm").attr("style", "display:block");
            $("#insertStatusDrop").data("kendoDropDownList").enable();
        });
        $("#boughtDate").kendoDatePicker({
            format: "yyyy-MM-dd",
            parseFormats: ["yyyy/MM/dd", "yyyyMMdd"],
            dateInput: true
        });
        //驗證
        var validator = $("#book_form").kendoValidator({
            messages: {
                required: "此欄位為必填"
            }
        }).data("kendoValidator");
        //Insert
        $("#insert_btn").click(function () {
            //不曉得為何加了判斷認證就會跳轉頁面
            //if (validator.validate()) {
            $.ajax({
                type: "POST",
                url: "/Library/Insert",
                data: $("#InsertForm").serialize(),
                dataType: "json",
                success: function (response) {
                    console.log("insert");
                    alert("新增成功");
                    $("#showInsert").data("kendoWindow").close();
                    var grid = $('#grid').data("kendoGrid");
                    grid.refresh();
                },
                error: function (error) {
                    console.log(error);
                }
            });
            return false;
            //}
        });

        //刪除
        function showDeleteDetail() {
            console.log("showDeleteDetail");
        }
    });

</script>
